* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Oswald',sans-serif;

}

body {
 background: #ffe3e0;

}

header img {
    width: 25rem;
}

header{
    display: flex;
    justify-content: center;
    margin-block: 2rem;
}

ul li a {
    color: #EF6351;
    text-decoration: none;
    list-style: none;
    font-size: 1.9rem;
    text-transform: uppercase;
    opacity: 0.6;;
}
ul li a:hover{
    opacity: 1;
    font-weight: 600;
    color: #EF6351;
}

ul {
    display:flex;
    justify-content: center;
    gap:3rem ;
    list-style:none;
}

.imgcar{
    width: 600px;
    height: 592px;
}

.caixa1 {
    background-color: white;
    padding: 20px;
    width: 530px;
    height: 500px;
    box-shadow: 0px 10px 62px 38px rgba(0,0,0,0.1);
}

.sessao1 {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-sessao-bolo {
    padding: 150px 50px;
    color: #EF6351;
}

.carrosel-bolo {
    box-shadow: 0px 0px 48px 20px rgba(0,0,0,0.2);
}

.sobre{
    background-color: white;
    width: auto;
    height: auto;
    padding: 80px;
    margin: 150px;
    display: flex;
    align-items: center;
    margin-top: 70px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #EF6351
}

h2{
    color: #EF6351;  
    padding-top: 10px;
}

.criadora{
    width: 400px;
    height: 400PX;
    scroll-behavior: smooth;
}


