* {
 margin: 0;
 padding: 0;
 box-sizing: dorder-box;
 font-family: 'Oswald',sans-serif;
}

body{
    background: #ffe3e0;

}

header img {
    width: 25rem;
}

header{
    display: flex;
    justify-content: center;
    margin-block: 2rem;
}

ul li a {
    color: #EF6351;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    opacity: 0.6;;
}
ul li a:hover{
    opacity: 1;
    font-weight: 600;
    
}
ul {
    display:flex;
    justify-content: center;
    gap:3rem ;
    list-style:none;
}

.imgcar{
    width: 500px;
    height: 500px;
}
